{
  "comments": false,
  "env": {
  {{#testing unit e2e}}
  "test": {
      "presets": [
        ["@babel/env", {
          "targets": { "node": 12 }
        }]
      ],
      "plugins": ["istanbul"]
    },
  {{/testing}}
  "main": {
      "presets": [
        ["@babel/env", {
          "targets": { "node": 12 }
        }]
      ]
    },
    "renderer": {
      "presets": [
        ["@babel/env", {
          "modules": false
        }]
      ]
    },
    "web": {
      "presets": [
        ["@babel/env", {
          "modules": false
        }]
      ]
    }
  },
  "plugins": ["@babel/transform-runtime"]
}
